epragati-rta-reg/epragati-vahan/src/main/resources/wsdl/VahanInfo.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.web.vahan.nic/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.web.vahan.nic/" name="VahanInfo">
<types>
<xsd:schema>
<xsd:import namespace="http://server.web.vahan.nic/" schemaLocation="https://vahan.nic.in:443/vahanws/VahanInfo?xsd=1" />
</xsd:schema>
</types>
<message name="getDetails">
<part name="parameters" element="tns:getDetails" />
</message>
<message name="getDetailsResponse">
<part name="parameters" element="tns:getDetailsResponse" />
</message>
<message name="getChasisDetails">
<part name="parameters" element="tns:getChasisDetails" />
</message>
<message name="getChasisDetailsResponse">
<part name="parameters" element="tns:getChasisDetailsResponse" />
</message>
<message name="getEngineDetails">
<part name="parameters" element="tns:getEngineDetails" />
</message>
<message name="getEngineDetailsResponse">
<part name="parameters" element="tns:getEngineDetailsResponse" />
</message>
<message name="parseCurrentDateToString">
<part name="parameters" element="tns:parseCurrentDateToString" />
</message>
<message name="parseCurrentDateToStringResponse">
<part name="parameters" element="tns:parseCurrentDateToStringResponse" />
</message>
<portType name="VahanInfo">
<operation name="getDetails">
<input wsam:Action="http://server.web.vahan.nic/VahanInfo/getDetailsRequest" message="tns:getDetails" />
<output wsam:Action="http://server.web.vahan.nic/VahanInfo/getDetailsResponse" message="tns:getDetailsResponse" />
</operation>
<operation name="getChasisDetails">
<input wsam:Action="http://server.web.vahan.nic/VahanInfo/getChasisDetailsRequest" message="tns:getChasisDetails" />
<output wsam:Action="http://server.web.vahan.nic/VahanInfo/getChasisDetailsResponse" message="tns:getChasisDetailsResponse" />
</operation>
<operation name="getEngineDetails">
<input wsam:Action="http://server.web.vahan.nic/VahanInfo/getEngineDetailsRequest" message="tns:getEngineDetails" />
<output wsam:Action="http://server.web.vahan.nic/VahanInfo/getEngineDetailsResponse" message="tns:getEngineDetailsResponse" />
</operation>
<operation name="parseCurrentDateToString">
<input wsam:Action="http://server.web.vahan.nic/VahanInfo/parseCurrentDateToStringRequest" message="tns:parseCurrentDateToString" />
<output wsam:Action="http://server.web.vahan.nic/VahanInfo/parseCurrentDateToStringResponse" message="tns:parseCurrentDateToStringResponse" />
</operation>
</portType>
<binding name="VahanInfoPortBinding" type="tns:VahanInfo">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getDetails">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getChasisDetails">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getEngineDetails">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="parseCurrentDateToString">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="VahanInfo">
<port name="VahanInfoPort" binding="tns:VahanInfoPortBinding">
<soap:address location="https://vahan.nic.in:443/vahanws/VahanInfo" />
</port>
</service>
</definitions>